footer {
  padding-top: var(--size-xl);
  color: var(--main-t);
  padding-bottom: var(--size-xl);
  background-color: var(--sec-c);
  display: flex;
  font: var(--h3);
  justify-content: center;
}
