/* Start Variables */
:root {
  --bg-color: #101010;
  --main-color: #6b3fa0;
  --sec-color: #222222;
  --sec-padding: 60px;
  --text-color: #fafafa;
}
body {
  background-color: var(--bg-color);
  font-family: "Montserrat";
}

/* End Variables */
/* Start Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition-duration: 0.3s;
  background-color: var(--bg-color);
  box-shadow: 20px 0 30px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  color: var(--text-color);
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.header__nav--bg-sc {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__nav-item--bg-sc {
  display: flex;
}
.header__nav-link--bg-sc {
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s, background-color 0.3s;
  height: 66px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.header__nav-link--bg-sc::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  transition: bottom 0.3s;
}
.header__nav-link--bg-sc:hover {
  color: var(--main-color);
  background-color: var(--sec-color);
}
.header__nav-link--bg-sc:hover::after {
  bottom: 0;
}
.header__nav-icon {
  display: none;
}
.header__nav--sm-sc {
  display: none;
}

@media (max-width: 425px) {
  .header__nav--bg-sc {
    display: none;
  }
  .header__nav-icon {
    display: flex;
    color: var(--text-color);
    font-size: 1.3rem;
  }
  .header__nav--sm-sc {
    position: absolute;
    top: 0;
    right: -200%;
    background-color: var(--main-color);
    display: block;
    width: 60%;
    height: 100vh;
    padding-top: 60px;
    border-left: 3px solid var(--text-color);
    z-index: 100;
    transition: right 0.3s;
    box-shadow: -20px 0 30px rgba(0, 0, 0, 0.3);
  }
  .header__nav-link--sm-sc {
    width: 100%;
    padding-left: 10px;
    color: var(--text-color);
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    transition: color 0.3s, background-color 0.3s, padding-left 0.3s;
  }
  .header__nav-link--sm-sc:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
    padding-left: 30px;
  }
  .header__nav-close {
    color: var(--text-color);
    font-size: 1.3rem;
    padding-left: 10px;
    padding-bottom: 12px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  height: calc(100vh - 60px);
  margin-top: 60px;
}
.landing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.landing__img-box {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--sec-color);
  padding: 20px;
}
.landing__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.landing__head {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 0;
}
.landing__job-title {
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 24px;
  margin-top: 24px;
}
.landing__cta-1 {
  width: 200px;
  padding: 20px 16px;
  height: 60px;
  color: var(--text-color);
  background-color: var(--main-color);
  border-radius: 16px;
  border: 2px solid var(--main-color);
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}
.landing__cta-1:hover {
  box-shadow: 0 0 30px var(--main-color);
  background-color: var(--text-color);
  color: var(--main-color);
}
.landing__cta-2 {
  width: 150px;
  padding: 20px 16px;
  color: var(--text-color);
  background-color: var(--sec-color);
  border-radius: 16px;
  border: 3px solid var(--text-color);
  cursor: pointer;
  transition: opacity 0.3s;
}
.landing__cta-2:hover {
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .landing__cta-1 {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .landing {
    height: 100%;
    margin-top: 80px;
  }
  .landing__container {
    flex-direction: column-reverse;
    height: 100%;
    margin-top: 0;
  }
  .landing__text {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .landing__img-box {
    width: 200px;
    height: 200px;
    padding: 10px;
  }
}
/* End Landing */
/* Start About */
.about {
  padding-bottom: var(--sec-padding);
  padding-top: var(--sec-padding);
  color: var(--text-color);
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__text {
  width: 430px;
  margin-bottom: 40px;
}
.about__skill-img {
  width: 90px;
}
.about__skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about__skills-box {
  background-color: var(--main-color);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .about__img {
    width: 300px;
  }
  .about__text {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .about__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* End About */
/* Start Projects */
.projects {
  padding-bottom: var(--sec-padding);
  padding-top: var(--sec-padding);
}
.projects__container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
}
.projects__project {
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}
.projects__project:hover {
  transform: translateY(-20px);
  box-shadow: 20px 0 30px rgba(0, 0, 0, 1);
}
.projects__project-img-box {
  width: 100%;
  height: 170px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.3s;
}
.projects__project-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s, filter 0.3s;
}
.projects__project-img:hover {
  transform: scale(1.6) rotate(-15deg);
  filter: brightness(1.1);
}
.projects__project-text {
  width: 100%;
  padding: 20px;
  background-color: var(--text-color);
  color: var(--sec-color);
}
.projects__project-title {
  margin-bottom: 20px;
}
.projects__project-techs--em {
  font-weight: bold;
  margin-bottom: 20px;
}
.projects__project-cta-1,
.projects__project-cta-2 {
  display: block;
  margin-top: 20px;
  width: 150px;
  padding: 12px 10px;
  border-radius: 30px;
  cursor: pointer;
}
.projects__project-cta-1 {
  background-color: var(--main-color);
  color: var(--text-color);
  border: 2px solid var(--main-color);
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.projects__project-cta-1:hover {
  background-color: var(--text-color);
  color: var(--main-color);
  box-shadow: 0 0 30px var(--main-color);
}
.projects__project-cta-2 {
  background-color: var(--sec-color);
  color: var(--text-color);
  border: 2px solid var(--sec-color);
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.projects__project-cta-2:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 30px var(--main-color);
}
.projects__project-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects__cta {
  width: 300px;
  padding: 20px 16px;
  background-color: var(--main-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin: 40px auto 0;
  transition: color 0.3s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}
.projects__cta:hover {
  color: var(--main-color);
  background-color: var(--text-color);
  box-shadow: 0 0 30px var(--main-color);
}
@media (min-width: 2560px) {
  .projects__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* End Projects */
/* Start Contact */
.contact {
  padding-bottom: var(--sec-padding);
  padding-top: var(--sec-padding);
}
.contact__form {
  width: 600px;
  padding: 24px;
  margin: 100px auto;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: black;
  text-align: center;
}
.contact__form-input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.contact__form-input-box * {
  width: 270px;
  padding: 10px 12px;
  outline: none;
  border: 2px solid var(--sec-color);
}
.contact__form-input-box *::placeholder {
  color: var(--bg-color);
}
.contact__form-text-area {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px 12px;
  outline: none;
  border: 2px solid var(--sec-color);
}
.contact__form-text-area::placeholder {
  color: var(--bg-color);
}
.contact__form-cta {
  width: 200px;
  padding: 10px 16px;
  border-radius: 32px;
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  border: 2px solid var(--main-color);
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.contact__form-cta:hover {
  color: var(--main-color);
  background-color: var(--text-color);
  box-shadow: 0 0 30px var(--main-color);
}
.contact__social {
  width: fit-content;
  background-color: var(--main-color);
  padding: 10px;
  width: 400px;
  margin: 40px auto 0;
  text-align: center;
  color: var(--text-color);
}
.contact__social-links {
  color: var(--text-color);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.6rem;
  transition: color 0.3s;
}
.contact__social-links:hover {
  color: var(--sec-color);
}
.contact__social-head {
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .contact__form {
    width: 300px;
  }
  .contact__form-input-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact__form-input-box input:first-child {
    margin-bottom: 20px;
  }
  .contact__social {
    width: 300px;
  }
}
/* End Contact  */
/* Start footer */
.footer {
  width: 100%;
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}
/* End footer */
